doctype html
html
  head
    title!= title
    link(rel='stylesheet', type='text/css', href='/style.css')
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/slider/css/simple-slider.css')
  body
    #container
      .row.titleText
        .col-md-6.col-md-offset-2
          h1!= message
      .row.options
        .col-md-6.col-md-offset-2.control
          button(id="startStopButton", onclick='toggle(this)', value='OFF') START
          input(id="userInput", type='number', value='120', min="0", max="400", onkeyup="keyChange()")
          div#volumeContainer
            span#volumeIcon.glyphicon.glyphicon-volume-up
            span#volumeControl(style="display:none;")
              input(id="my-input",type='text', data-slider='true', value='1', data-slider-highlight='true', style='display: none;')
      .row
        .col-md-8.col-md-offset-2.displayBeeps
          #beat.q1
          #beat.q2
          #beat.q3
          #beat.q4
  script(src="/jquery-1.12.0.min.js")
  script(src='howler/howler.min.js')
  script(src="jrumble/jquery.jrumble.1.3.min.js")
  script(src="loop.js")
  script(src='slider/js/simple-slider.js')