html,body{
  margin: 0;
  padding: 0;  
}
#container1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  padding-top:100px;
}
#beat{
  display: inline-block;
  background: grey;
  margin-left: 50px;
  width: 150px;
  height:150px;
  border-radius: 5000px;
  -webkit-transition: background 200ms ease-out;
  -moz-transition: background 200ms ease-out;
  -ms-transition: background 200ms ease-out;
  -o-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
}
#beat.active{
  background: #0e83cd;
  box-shadow: -1px 1px 30px #0e83cd, 1px -1px 40px #0e83cd;
}
input#userInput{
  box-sizing: content-box;
  line-height: 50px;
  vertical-align: middle;
  height: 50px;
  width: 100px;
  padding: 0px;
  border: 0px;
  font-size: 40px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input:focus{
  outline:0;
}
button{
  vertical-align: middle;
  border: 3px solid #fff;
  background: #0e83cd;
  width: 100px;
  height: 50px;
  color: #fff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
button:focus {outline:0;}
button#startStopButton{
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  margin-left: 5px;
}
.displayBeeps{
  background-color: #f2f2f2 ;
  padding: 100px 0;
}
.options{
  background: #0e83cd;
  height: 100px;
  padding:25px 0;
}
div.control{
  padding-left: 0;
}